html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
}

main {
    text-align: center;
}

img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px;
}

input {
    width: 30%;
    padding: 15px 10px;
    margin: 20px 10px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
}

button {
    width: 200px;
    margin: 0 auto;
    display: block;
    padding: 15px 40px;
    background-color: coral;
    border: none;
    border-radius: 5px;
}

.app {
    background-color: #eeeeee;
}

.app, .app2 {
    width: 100%;
    height: 100vh;
    padding: 0 5%;
}

.app2 {
    background-color: #0CF;
}

.main, .form-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

main p {
    font-size: 1.2rem;
}

@media screen and (max-width: 540px) {
    .app, .app2 {
        padding: 0 2%;
    }

    input {
        width: 40%;
    }
}