html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  padding: 20px 0;
}

main {
  text-align: center;
}

img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 20px;
}

input {
  width: 30%;
  padding: 15px 10px;
  margin: 20px 10px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
}

button {
  width: 200px;
  margin: 0 auto;
  display: block;
  padding: 15px 40px;
  background-color: coral;
  border: none;
  border-radius: 5px;
}

span {
  display: inline-block;
  background-color:lightseagreen;
  color: #FFF;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.app {
  width: 100%;
  height: 100vh;
  padding: 10px;
}

.hex-box {
  width: 100%;
}

.box {
  text-align: center;
  padding: 15px;
}

.main, .form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  margin-bottom: 30px;
}

.skills {
  display: flex;
  align-items: center;
  width: fit-content;
  flex-wrap: wrap;
}

main p {
  font-size: 1.2rem;
}

@media screen and (max-width: 540px) {
  input {
      width: 40%;
  }
}