html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding: 0 10px;
}

.app1 {
  width: 80%;
  margin: 30px auto;
  text-align: center;
}

/* Day six */
.numbers-box {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  gap: 2px;
}

.number-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  font-size: 1.2rem;
  color: #FFF;
}

.country-info {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  column-gap: 10px;
  margin-bottom: 10px;
}

.country {
  text-transform: uppercase;
}

.pop-box {
  height: 100%;
  background-color: goldenrod;
}

/* Day 08 */
.user-card {
  height: 100vh;
}

.header {
  padding: 10px 5%;
  border-bottom: 1px solid #FFF;
}

.main, .buttons {
  padding: 0 5%;
}

.main img {
  width: 200px;
  border-radius: 100%;
}

.buttons button, .btn-country {
  background-color: #0CF;
  color: #FFF;
  font-size: 1rem;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #0CF;
}

/*** Day 7 ***/
.app5 {
  height: 100vh;
  position: relative;
}

.country-con {
  width: 50%;
  margin: 0 auto;
  box-shadow: 0px 0px 1px 1px #ddd;
  padding: 40px 20px;
  margin-bottom: 3%;
}

.country-flag {
  text-align: center;
}

.country-flag img {
  width: 200px;
}

.countryinfo span {
  opacity: 0.6;
}

.btn-country {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

/** Day 8 **/

/** Day 11 **/
/* .mouse-con {
  position: relative;
} */

.mouse {
  position: absolute;
  padding: 30px 60px;
  background-color: #0CF;
  color: #FFF;
  border: 1px solid blueviolet;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .country-con {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .country-con {
    width: 90%;
  }
}